/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}p{-webkit-hyphens:auto;-epub-hyphens:auto;-moz-hyphens:auto;hyphens:auto}b,strong,.strong{font-weight:bold}dfn,em,.em{font-style:italic}small,.small{font-size:75%}ul,ol{padding:0;list-style-type:none}dd{margin:0}.sidebar ul,.sidebar ol,.commentlist{list-style:none}
/* END NORMALIZE */

/*********************
CLEARFIXIN'
*********************/

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after { clear: both; }

/*********************
TOOLS
*********************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
Need help w/ choosing your colors? Try this site out: http://0to255.com/
*********************/

/*********************
TYPOGRAPHY
*********************/

/* 	To embed your own fonts, use this syntax and place your fonts inside the library/fonts folder.
*/
/*	
@font-face {
	font-family: 'Font Name';
	src: url('library/fonts/font-name.eot');
	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('library/fonts/font-name.woff') format('woff'),
       url('library/fonts/font-name.ttf') format('truetype'),
       url('library/fonts/font-name.svg#font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

/* call all your fonts in the same place, its easier to keep them organized that way */
body, button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Times New Roman", serif;
}

/* use the best ampersand: http://simplebits.com/notebook/2008/08/14/ampersands-2/ */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid; }
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f; }
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8; }
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4; }
.alert-success {
  border-color: #deeaae;
  background: #e6efc2; }

/*********************
BUTTONS
*********************/
.button, .button:visited, input[type="submit"], input[type="submit"]:visited {
  text-align: center;
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42); }

.button:hover, .button:focus, .button:visited:hover, .button:visited:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  color: white;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b); }

.button:active, .button:visited:active, input[type="submit"]:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f); }

.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  box-shadow: inset 0 0 3px #59b3ec; }

.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad); }

.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db); }

.button.full-width, .blue-button.full-width { width: 100%; }

/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/*********************
GENERAL STYLES
*********************/
body {
  font-size: 100%;
  line-height: 1.5;
  color: #565656; }

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
.rtl {} /* for sites that are read right to left (i.e. hebrew) */
.home {} /* home page */
.blog {} /* blog template page */
.archive {} /* archive page */
.date {} /* date archive page */
.date-paged-1 {} /* replace the number to the corresponding page number */
.search {} /* search page */
.search-results {} /* search result page */
.search-no-results {} /* no results search page */
.search-paged-1 {} /* individual paged search (i.e. body.search-paged-3) */
.error404 {} /* 404 page */
.single {} /* single post page */
.postid-1 {} /* individual post page by id (i.e. body.postid-73) */
.single-paged-1 {} /* individual paged single (i.e. body.single-paged-3) */
.attachment {} /* attatchment page */
.attachmentid-1 {} /* individual attatchment page (i.e. body.attachmentid-763) */
.attachment-mime-type {} /* style mime type pages */
.author {} /* author page */
.author-nicename {} /* user nicename (i.e. body.author-samueladams) */
.author-paged-1 {} /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {} /* category page */
.category-1 {} /* individual category page (i.e. body.category-6) */
.category-paged-1 {} /* replace the number to the corresponding page number */
.tag {} /* tag page */
.tag-slug {} /* individual tag page (i.e. body.tag-news) */
.tag-paged-1 {} /* replace the number to the corresponding page number */
.page-template {} /* custom page template page */
.page-template-page-php {} /* individual page template (i.e. body.page-template-contact-php */
.page-paged-1 {} /* replace the number to the corresponding page number */
.page-parent {} /* parent page template */
.page-child {} /* child page template */
.parent-pageid-1 {} /* replace the number to the corresponding page number */
.logged-in {} /* if user is logged in */
.paged {} /* paged items like search results or archives */
.paged-1 {} /* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto; }

/*********************
LINK STYLES
*********************/
a, a:visited { color: #f01d4f; }
a:hover, a:focus, a:visited:hover, a:visited:focus { color: #d10e3c; }
a:active, a:visited:active {
  /* on click */ }
a:link, a:visited:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

/* if you are using web fonts, remember to set the font weights correctly */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility; }
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em; }
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em; }
h3, .h3 {
  font-size: 1.125em; }
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700; }
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px; }

/*********************
HEADER STYLES
*********************/

.header {}

#logo {}

/*********************
NAVIGATION STYLES
*********************/

#main-nav { display: none; }

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
border: 1px solid #ccc;
border-bottom: 0; }

.nav li {
/*
so you really have to rethink your dropdowns for mobile.
you don't want to have it expand too much because the
screen is so small. How you manage your menu should
depend on the project. Here's some great info on it:
http://www.alistapart.com/articles/organizing-mobile/
*/ }

.nav li a {
display: block;
text-decoration: none;
padding: 10px 10px;
background-color: #eee;
border-bottom: 1px solid #ccc;
/*
remember this is for mobile ONLY, so there's no need
to even declare hover styles here, you can do it in
the style.scss file where it's relevant. We want to
keep this file as small as possible!
*/ }

.nav li a:hover, .nav li a:focus {}

.nav li:first-child {}
.nav li:last-child {}

.nav li ul.sub-menu,
.nav li ul.children {}

.nav li ul.sub-menu li,
.nav li ul.children li {}

.nav li ul.sub-menu li a,
.nav li ul.children li a {
padding-left: 30px; }

.nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
.nav li ul.children li a:hover,
.nav li ul.children li a:focus {}

.nav li ul.sub-menu li a:link,
.nav li ul.children li a:link {}

.nav li ul.sub-menu li:first-child,
.nav li ul.children li:first-child {}

.nav li ul.sub-menu li:last-child,
.nav li ul.children li:last-child {}

.nav li.current-menu-item,
.nav li.current_page_item,
.nav li.current-page-ancestor {}

.nav li.current-menu-item a,
.nav li.current_page_item a,
.nav li.current-page-ancestor a {}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
  margin-top: 2.2em; }
.hentry header {}
.hentry footer {}
.single-title,
.page-title {}
.single-title {}
.page-title {}
.archive-title {} /* want to style individual post classes? Booya! */
.post-id {} /* post by id (i.e. post-3) */
.post {} /* general post style */
.page {} /* general article on a page style */
.attachment {} /* general style on an attatchment */
.sticky {} /* sticky post style */
.hentry {} /* hentry class */
.category-slug {} /* style by category (i.e. category-videos) */
.tag-slug {} /* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999; }
.byline time {} 

/* entry content */
.entry-content {}
.entry-content p {}
.entry-content ul, .entry-content ol, .entry-content table, .entry-content dl {}
.entry-content ul, .entry-content ol {}
.entry-content ul li, .entry-content ol li {}
.entry-content ul {}
.entry-content ul li {}
.entry-content ol {}
.entry-content ol li {}
.entry-content blockquote {}
.entry-content blockquote:before {}
.entry-content dl {}
.entry-content dt {}
.entry-content dd {
margin-left: 0;
font-size: 0.9em;
color: #787878;
margin-bottom: 1.5em; }
.entry-content img {
margin: 0 0 1.5em 0;
max-width: 100%;
height: auto; }
.entry-content .alignleft, .entry-content img.alignleft {}
.entry-content .alignright, .entry-content img.alignright {}
.entry-content .aligncenter, .entry-content img.aligncenter {}
.entry-content video, .entry-content object {
max-width: 100%;
height: auto; }
.entry-content pre {
background: #eee;
border: 1px solid #cecece;
padding: 10px; }
.wp-caption {
max-width: 100%;
background: #eee;
padding: 5px;

/* images inside wp-caption */ }
.wp-caption img {
max-width: 100%;
margin-bottom: 0;
width: 100%; }
.wp-caption p.wp-caption-text {
font-size: 0.85em;
margin: 4px 0 7px;
text-align: center; }

/* image gallery styles */
.gallery {}
.gallery dl {}
.gallery dl a {}
.gallery dl img {}
.gallery dt {}
.gallery dd {}

/* gallery caption styles */
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em; }

.bones_page_navi {}

.bones_page_navi li {
  float: left;
  margin-left: 10px; }

.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative; }

.bones_page_navi li a:hover, .bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline; }

.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative; }

.bones_page_navi li.bpn-current a {
/* hovering on current page link */ }

.bones_page_navi li.bpn-current a:hover, .bones_page_navi li.bpn-current a:focus {}

.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700; }

.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0; }

.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none; }

.bones_page_navi li.bpn-prev-link a:hover, .bones_page_navi li.bpn-prev-link a:focus {}

.bones_page_navi li.bpn-next-link a:hover, .bones_page_navi li.bpn-next-link a:focus {}

.bones_page_navi li.bpn-first-page-link a:hover, .bones_page_navi li.bpn-first-page-link a:focus {}

.bones_page_navi li.bpn-last-page-link a:hover, .bones_page_navi li.bpn-last-page-link a:focus {}

/* fallback previous & next links */
.wp-prev-next ul {}

.wp-prev-next .prev-link {
  float: left; }

.wp-prev-next .next-link {
  float: right; }

/******************************************************************
COMMENT STYLES
******************************************************************/

#comments {}

#comments span {}

.comment-nav {}
.comment-nav ul {}
.comment-nav ul li {}

.commentlist {}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;}
.commentlist li:last-child {
  margin-bottom: 0; }
.commentlist li ul.children {
  margin: 0;}
.commentlist li ul.children li {}
.commentlist li ul.children .comment {}
.commentlist li ul.children .alt {}
.commentlist li ul.children .odd {}
.commentlist li ul.children .even {}
.commentlist li ul.children .depth-1 {}
.commentlist li ul.children .byuser {}
.commentlist li ul.children .bypostauthor {}
.commentlist li ul.children .comment-author-admin {}

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0; }
.commentlist li.depth-2 {}
.commentlist li.depth-3 {}
.commentlist li.depth-4 {}
.commentlist li.depth-5 {}

.commentlist .alt {}

.commentlist .odd {
  background: #eee; }

.commentlist .even {
  background: #fefefe; }

.commentlist .parent {}

.commentlist .comment {}

.commentlist .children {}

.commentlist .pingback {}

.commentlist .bypostauthor {}

.commentlist .comment-author {}
.commentlist .comment-author-admin {}

.commentlist .thread-alt {}

.commentlist .thread-odd {}

.commentlist .thread-even {}

.commentlist .vcard {
  margin-left: 50px; }
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal; }
.commentlist .vcard cite.fn a.url {}
.commentlist .vcard time {
  float: right; }
.commentlist .vcard time a {
  color: #999;
  text-decoration: none; }
.commentlist .vcard time a:hover {
  text-decoration: underline; }
.commentlist .vcard img.photo {}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff; }

.commentlist .comment-meta {}
.commentlist .comment-meta a {}

.commentlist .commentmetadata {}
.commentlist .commentmetadata a {}

.commentlist .comment_content {
  margin-left: 50px; }
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em; }
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
  opacity: 1; }

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }

.respond-form form {
  margin: 0.75em 0; }

.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em; }

.respond-form form li label,
.respond-form form li small {
  display: none; }

.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;}

.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff; }

.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px; }

.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px; }

/* comment submit button */
#submit {}

/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em; }

/* cancel comment reply link */
#cancel-comment-reply a {}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

/* no comments */
.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.widgettitle {}

.widget {}
.widget ul {}
.widget ul li { /* deep nesting */ }
.widget ul li:first-child {}
.widget ul li:last-child {}
.widget ul li a {}
.widget ul li ul {}

/*********************
FOOTER STYLES
*********************/

.footer { clear: both; }

.footer-links {}
.footer-links ul {}
.footer-links ul li {}

.copyright {}


/**************************************************************************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
**************************************************************************/
@media only screen and (min-width: 481px) {

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  .entry-content { /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }


} /* End Query */

/**************************************************************************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
**************************************************************************/
@media only screen and (min-width: 768px) {

  /*********************
  GRID STYLES
  *********************/

  .onecol { width: 5.801104972%; }
  .twocol { width: 14.364640883%; }
  .threecol { width: 22.928176794%; }
  .fourcol { width: 31.491712705%; }
  .fivecol { width: 40.055248616%; }
  .sixcol { width: 48.618784527%; }
  .sevencol { width: 57.182320438000005%; }
  .eightcol { width: 65.74585634900001%; }
  .ninecol { width: 74.30939226%; }
  .tencol { width: 82.87292817100001%; }
  .elevencol { width: 91.436464082%; }
  .twelvecol { width: 99.999999993%; }

  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%; }

  .first { margin-left: 0; }

  .last { float: right; }

  /*********************
  GENERAL STYLES
  *********************/
  body {}

  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap { max-width: 1140px; }

  /*********************
  HEADER STYLES
  *********************/
  .header {}

  #logo {}

  /*********************
  NAVIGATION STYLES
  *********************/

  #main-nav { display: block; } 
  #mobile-nav { display: none; }

  .nav { border: 0; }

  .nav li {
    float: left;
    position: relative; }
  .nav li a {
    border-bottom: 0; }
  .nav li a:hover, .nav li a:focus {
    background-color: #dedede; }

  .nav li:first-child {}
  .nav li:last-child {}

  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999; }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
    if you need to go deeper, go nuts
    just remember deeper menus suck
    for usability.
    */ }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc; }
  .nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
  .nav li ul.children li a:hover,
  .nav li ul.children li a:focus {}
  .nav li ul.sub-menu li a:link,
  .nav li ul.children li a:link {}
  
  .nav li ul.sub-menu li:first-child,
  .nav li ul.children li:first-child {}
  .nav li ul.sub-menu li:last-child,
  .nav li ul.children li:last-child {}
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0; }

  .nav li ul.sub-menu li ul,
  .nav li ul.children li ul {}

  .nav li ul.sub-menu li.current-menu-item a,
  .nav li ul.sub-menu li.current_page_item a,
  .nav li ul.sub-menu li.current-page-ancestor a,
  .nav li ul.children li.current-menu-item a,
  .nav li ul.children li.current_page_item a,
  .nav li ul.children li.current-page-ancestor a {}

  .nav li:hover ul {
    top: auto;
    display: block; }

  .nav li.current-menu-item a,
  .nav li.current_page_item a,
  .nav li.current-page-ancestor a {}

  /*********************
  SIDEBARS & ASIDES
  *********************/

  .sidebar {
  margin-top: 2.2em; }

  .widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

  .widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
  margin-bottom: 0.75em;}
  .widget ul li:first-child {}
  .widget ul li:last-child {}
  .widget ul li a {}
  .widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em; }

  /* links widget */
  .widget_links {}
  .widget_links ul {}
  .widget_links ul li {}
  .widget_links ul li a {}

  /* meta widget */
  .widget_meta {}
  .widget_meta ul {}
  .widget_meta ul li {}
  .widget_meta ul li a {}

  /* pages widget */
  .widget_pages {}
  .widget_pages ul {}
  .widget_pages ul li {}
  .widget_pages ul li a {}

  /* recent-posts widget */
  .widget_recent_entries {}
  .widget_recent_entries ul {}
  .widget_recent_entries ul li {}
  .widget_recent_entries ul li a {}

  /* archives widget */
  .widget_archive {}
  .widget_archive ul {}
  .widget_archive ul li {}
  .widget_archive ul li a {}
  .widget_archive select {}
  .widget_archive option {}

  /* tag-cloud widget */
  .widget_links {}
  .widget_links li:after {}
  .widget_links li:before {}
  .widget_tag_cloud {}
  .widget_tag_cloud a {}
  .widget_tag_cloud a:after {}
  .widget_tag_cloud a:before {}

  /* calendar widget */
  .widget_calendar {}

  #calendar_wrap {}
  #calendar_wrap th {}
  #calendar_wrap td {}

  #wp-calendar tr td {}
  #wp-calendar caption {}
  #wp-calendar a {}
  #wp-calendar #today {}
  #wp-calendar #prev {}
  #wp-calendar #next {}
  #wp-calendar #next a {}
  #wp-calendar #prev a {}

  /* category widget */
  .widget_categories {}
  .widget_categories ul {}
  .widget_categories ul li {}
  .widget_categories ul ul.children {}
  .widget_categories a {}
  .widget_categories select {}
  .widget_categories select#cat {}
  .widget_categories select.postform {}
  .widget_categories option {}
  .widget_categories .level-0 {}
  .widget_categories .level-1 {}
  .widget_categories .level-2 {}
  .widget_categories .level-3 {}

  /* recent-comments widget */
  #recentcomments {}
  #recentcomments {}
  #recentcomments li {}
  #recentcomments li a {}

  .widget_recent_comments {}

  /* search widget */
  #searchform {}

  .widget_search {}

  .screen-reader-text {}

  /* text widget */
  .textwidget {}

  .widget_text {}

  .textwidget p {}

  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  .footer-links {}
  .footer-links ul {}
  .footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */ }
  .footer-links ul li a {}
  .footer-links ul li a:hover {}
  .footer-links ul li ul {}


} /* End Query */

/**************************************************************************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
**************************************************************************/
@media only screen and (min-width: 1030px) {


} /* End Query */
/**************************************************************************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
**************************************************************************/
@media only screen and (min-width: 1240px) {


} /* End Query */
/**************************************************************************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
**************************************************************************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */ 

} /* End Query */

/**************************************************************************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
**************************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    /* line 28, ../scss/_print.scss */
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    /* line 33, ../scss/_print.scss */
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } 
} /* End Query */
